.container {
    /* padding: 20px 30px; */
    max-width: 768px;
    margin: auto;
    overflow: auto;
}

.produk_menu {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.group_about_us {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    color: #E5D9B6;
}

.foto_toko_utama {
    aspect-ratio: unset;
    width: 98.2vw;
}

.foto_toko_utama {
    aspect-ratio: 650/433;
}

.detail_about_us {
    width: 92vw;
}