.group_menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 50px;
}

.produk_menu {
    width: 95vw;
    height: 95vw;
    margin: auto;
    margin-top: 20px;
}